.footer {
    background-color: #3A3A3A;
    padding: 57px 0;
    color: white;
}

.footerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signatureBlock {
    text-align: right;
}

.signature {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    max-width: 140px;
}

@media(max-width: 768px) {
    .footer {
        padding: 35px 0;
    }

    .logo {
        margin-bottom: 7px;
    }

    .footerWrapper {
        flex-direction: column;  
    }

    .signatureBlock {
        text-align: center;
    }
}