.searchHeading {
    font-size: 30px;
    margin-bottom: 31px;
}

.searchForm {
    margin-bottom: 30px;
}

.inputWrapper {
    border: 1px solid #888888;
    display: flex;   
    border-radius: 20px;
    padding: 9px 24px;
}

.searchInput {
    flex-grow: 1; 
}

.submitButton {
    background: none;
    border: none;
    padding: 0;
    margin-right: 20px;  
}

.searchWrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 48.6%));
    gap: 32px 25px;
    justify-content: center;
}

.resultHeading {
    font-size: 20px;
    margin-bottom: 25px;
}

.errorText {
    margin: 70px auto 0;
    max-width: 232px;
    font-size: 15px;
    text-align: center;
}

@media(max-width: 576px) {

    .searchForm {
        margin-bottom: 22px;
    }    

    .searchHeading {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .resultHeading {
        font-size: 15px;
    }
}


@media(max-width: 700px) {
    .searchWrapper {
        grid-template-columns: repeat(1, minmax(200px, 100%));
    }
}
