.card {
    .genres {
        .genre:not(:last-child) {
          margin-right: 5px;
        }
    }  

    .movieName {
        text-transform: uppercase;
    }

    .cardInfo {
        margin-top: 18px;    
    }

    &.primary {
        font-size: 13px;
        max-width: 180px;

        .movieName {
            font-size: 15px;
            margin-bottom: 25px; 
        } 

        .cardDetails {
            display: flex;
            font-size: 13px;
            margin-bottom: 12px;
            
            p {
                &:first-child {
                  margin-right: 5px; 
                }
            }
        }
        
    }

    &.secondary {
        display: flex;

        .cardInfo {
            margin-left: 42px;

            .movieName {
                margin-bottom: 57px;
                
            }
        }
    }
}

@media(max-width: 992px) {
    .card {

        .cardInfo {
            margin-top: 5px;
        }

        &.primary {

            .movieName {
                margin-bottom: 5px; 
            }
            
            .cardDetails {
                margin-bottom: 5px;
            }
        }
    }
}

// @media(max-width: 681px) {
//     .card 
// }