.card {
    &.primary {
        font-size: 13px;
        max-width: 180px;

        .cardInfo {
            margin-top: 18px;
        }

        .movieName {
            font-size: 15px;
            margin-bottom: 25px;
        } 

        .cardDetails {
            display: flex;
            font-size: 13px;
            margin-bottom: 12px;
            
            p {
                &:first-child {
                  margin-right: 5px; // Adjust the value as needed
                }
            }
        }

        .genres {
            .genre:not(:last-child) {
              margin-right: 5px; // Adjust the value as needed
            }
        }  
    }
}