.detailWrapper {
    display: flex;
}

.detailHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.cardInfo {
    margin-left: 23px;
}

.movieName {
    font-size: 28px;
    color:#E59C9C
}

.rating {
    display: flex;
    align-items: center;
}

.star {
    width: 43px;
    height: 43.16px;
}

.ratingNumber {
    font-weight: bold;
    font-size: 27px;
    margin-left: 11px;
}

.infoName {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-right: 50px;
}

.summary {
    display: flex;
}