.detailCardWrapper {
    display: flex;
}

.detailHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.movieImage {
    max-width: 229px;
    max-height: 339px;
    overflow: hidden;
    border-radius: 20px;
}

.cardInfo {
    margin-left: 23px;
}

.cardInfo > div:not(:last-child) {
    margin-bottom: 22px;
}

.movieName {
    font-size: 28px;
    color:#E59C9C
}

.rating {
    display: flex;
    align-items: center;
}

.star {
    width: 43px;
    height: 43.16px;
}

.ratingNumber {
    font-weight: bold;
    font-size: 27px;
    margin-left: 11px;
}

.infoName {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-right: 50px;
}

.summary {
    display: flex;
}

@media(max-width: 780px) {
    .detailCardWrapper {
        flex-wrap: wrap;
    }

    .cardInfo > div:not(:last-child) {
        margin-bottom: 10px;
    }

    .infoName {
        margin-right: 25px;
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .infoName {
        font-size: 11px;
    }
    .premiered span,
    .country span,
    .genres span,
    .summary span {
      display: block;
    }
    .summary {
        flex-wrap: wrap;
    }
  }

