body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

section {
	padding: 95px;
}

main {
	background-image: url('./assets/img/background/background.png');
	position: relative;
	z-index: 1;
	padding-top: 55px;
}

main::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 700;
	line-height: 1.2em;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
	transition: .5s;
}

input, button {
	outline: none;
	border: none;
	font-family: inherit;
	background-color: transparent;

}

button {
	cursor: pointer;
}

img {
max-width: 100%;
object-fit: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


