.header {
    padding: 40px;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: background-color 500ms ease;
}

.header.scroll {
    background-color: black;
}

.navList {
    display: flex;  
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listItem {
    margin-left: 35px;
    font-size: 18px;
    font-weight: 400;
}

.listItem a {
    color: #FFFFFF;
}

.header .nav a.LinkActive {
    color: #E59C9C;
    text-decoration: underline;
}

nav a:first-child {
    margin-left: 0;    
}

/* Burger */

.menuButton,
.menuButton::before,
.menuButton::after {
  background-color: #fff;
  height: 4px;
  width: 30px;
  /* transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1); */
  border-radius: 2px;
  display: none;
}

.menuButton::before {
    content: '';
    margin-top: -8px;
  }
  
  .menuButton::after {
    content: '';
    margin-top: 13px;
  }


/* Media queries */

@media(max-width: 992px) {
    .header {
        padding: 15px
    }
    
    .menuButton {
        display: block;
    }
    
    .navList {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40;
        right: -100%;
    }
}